footer {
  width: 97%;
  font-size: 17px;
  background: black;
  padding: 19px 10px;
  color: white;
  position: fixed;
  bottom: 6px;
  opacity: 0.9;
  text-align: center;
}

audio {
  display: none;
}

button {
  font-size: 16px;
  color: rgb(1, 1, 82);
  text-shadow: 2px 2px 1px rgb(255, 72, 0);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0px;
  padding: 15px;
  border: none;
  border-radius: 2px;
  outline: none;
  background: rgba(115, 67, 167, 0);
  /* box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); */
  opacity: 1;
  height: 0px;
  cursor: pointer;
  transition: all 0.4s ease-out;
}
.sound {
  display: absolute;
  left: 42vmax;
}
.audioText {
  font-size: 2vmin;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 30px;
  padding-right: 30px;
}
button.fade:hover {
  opacity: 0.8;
}

.fade {
  opacity: 0.2;
  top: 0;
  left: 0;
  transform: translate(0, 0);
}

body {
  background-image: url("images/bgfinal.png");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Goldman", cursive;
}

.switch {
  position: absolute;
  display: flex;
  width: 60px;
  height: 34px;
  bottom: 20vmax;
  left: 42vmax;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: rgb(43, 43, 43);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(43, 43, 43);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
#moveSet {
  position: absolute;
  left: 14px;
  bottom: 200px;
}
.left {
  display: inline-block;
  position: absolute;
  left: 42px;
  top: 10px;
}

.left img {
  height: 18vmax;
  width: 20vmax;
}
.hp {
  position: relative;
  right: 7vmax;
  bottom: 5vmax;
}
#hp1 {
  right: 12vmax;
}

#hp1,
#hp2 {
  color: white;
  text-shadow: 3px 2px 1px black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 283px 118px;
  font-size: 16px;
  text-align: right;
  margin: 10px 10px;
  padding: 1px 1px;
}

th,
td {
  padding: 20px 80px;
  margin: 20px 10px;
}
#rotate-image {
  transform: scaleX(-1);
  margin-right: 10vmin;
}
.winningMessage {
  color: white;
}
#restart {
  position: absolute;
  font-size: 2vmax;
  color: white;
  left: 18vmax;
  margin-top: 1.5vmax;
}
.messageContainer {
  height: 22%;
  width: 40%;
  z-index: -1;
  background: rgba(0, 0, 0, 0.712);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(13.4px);
  -webkit-backdrop-filter: blur(13.4px);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 30%;
  top: 5vmax;
  border: 1px solid white;
  border-radius: 20px;
  color: white;
  flex-direction: column;
}
.postGame {
  z-index: 1;
}
.btn {
  color: black;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 10px;
  margin: 10px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: rgba(255, 255, 255, 0.49);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.8px);
  -webkit-backdrop-filter: blur(6.8px);
  border: 1px solid rgba(255, 255, 255, 0.96);
}
.btn:disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
  opacity: 0.6;
}
.btn:disabled:hover {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
  opacity: 0.6;
}
.btn:hover {
  background-color: black;
  color: white;
}

p {
  font-size: 20px;
  font-family: "Goldman", cursive;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.pokemonSprite {
  padding: 5vmax;
  height: 10vmax;
  width: 10vmax;
}
.moveSet {
  position: absolute;
  right: 10vmax;
}
.pokemonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(images/fightBG.jpg);
  border: 4px solid white;
  background-position: center;
  height: 80vh;
  width: 50vw;
  background-repeat: no-repeat;
  background-size: cover;
}
.hideBg {
  display: none;
}
.comments {
  font-size: 20px;
  position: absolute;
  bottom: 12vmax;
}
.healthBar {
  border-radius: 10px;
  height: 5vmin;
  background-color: white;
  padding: 5px;
  width: 16vmax;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}

@media (max-width: 1230px) {
  .left img {
    width: 210px;
    height: 130px;
    margin-top: -15px;
  }

  .left {
    display: block;
    top: 0;
    left: 0;
  }

  table.table {
    margin: 10px 5px;
    margin-top: 98px;
  }

  .table {
    height: 100px;
    width: 100px;
  }

  th,
  td {
    padding: 0px 38px;
    margin: 10px 30px;
    height: 170px;
  }

  .header {
    width: 10px;
    height: 600px;
  }

  #comment {
    height: 10px;
    padding: 10px 10px;
  }

  p {
    font-size: 17px;
    margin: 0px 0px;
    padding: 0px 0px;
    text-align: center;
  }

  footer {
    display: none;
  }
}
